body {
  margin: 0;
}

.flex-container {
  background-image: linear-gradient(
    to bottom right,
    white,
    rgba(255, 166, 0, 0.89)
  );
  display: flex;
  height: 100px;
}
ul,
li {
  display: flex;
  flex-direction: row;

  padding: 10px;
  color: rgb(134, 27, 235);
}

.mainContent {
  display: flex;
  height: 200px;
}
.leftSide {
  display: flex;
  padding: 20px;
}
img {
  height: 200px;
  width: 200px;
  padding: 10px;
  float: left;
}
.rightSide {
  float: right;
}

.footer {
  background-color: orangered;
  margin: 10px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
